<header x-data="product" class="flex flex-col text-start">
  <p class="text-base text-gray-500" x-text="'$' + product.price"></p>
  <h1 class="text-3xl text-primary font-light" x-text="product.title.toUpperCase()"></h1>
</header>
