<div x-data="product" class="flex flex-col gap-4">
  <template x-if="!isLoading">
    <div class="line-clamp-3">
      <p x-text="product.desc.text"></p>
    </div>
  </template>
  <a
    @click.prevent="document.querySelector('#description')?.scrollIntoView({ behavior: 'smooth' })"
    class="underline text-blue-700 scroll-smooth"
    href="#description">Read more below</a>
</div>
