---
permalink: /
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/priscilla-suede-espresso" />
    <link rel="stylesheet" href="/assets/tailwind.css" />
    <title>Redirecting…</title>
  </head>
  <body class="flex w-screen h-screen items-center justify-center">
    <p class="animate-pulse">Redirecting to product page…</p>
  </body>
</html>
